body{background-color: #dbdbdb}

h1{text-align: center;}


p {text-align: justify;
    font-style:unset;
    font;}

nav a{
        text-transform: uppercase;
        padding: 5%;
        font-weight: 300;
        font-size: 100%;
        color: #AA7339;
    }
