body{background-color: #f4f2f2;}

h1 {text-align:center;
    font:medium;}

h2 {text-align:center;
    margin: 12px 20px 12px 20px;
    font:medium;}

.p1 {border-color: #f4f2f2;
    border-width: 7px;
    border-style:solid;
    text-align: justify;
    margin: 12px 20px 12px 20px;
    font-size: 18px;}

header {text-align:center;
    background-color: #f79fd548;
    border-color: #f79fd548;
    border-style:solid;
    border-radius: 80px 80px 80px 80px;}

.imagemcentralizada {text-align: center;}

nav a{  text-transform: uppercase;
        font:medium;
        padding: 5%;
        font-weight: 300;
        font-size: 100%;
        color: #474747;
        text-decoration: none ;}
